body{
    padding-top: 250px;
}
.codecon-container {
  display: flex;
  margin-top: 20px;
}

.codecon-left-side,
.codecon-right-side {
  width: 50%;
  padding: 40px 20px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: white;
}


.codecon-left-side {
  background-color: blue;
}

.codecon-right-side {
  background-color: red;
}


h3,h4{
    color: white!important;
}