services:
  api:
    build: ./api
    expose:
      - "3000"

  frontend:
    build: ./frontend
    expose:
      - "80"
    depends_on:
      - api
    networks:
      - default
      - coolify

networks:
  coolify:
    external: true
